@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container-2 {
  display: flex;  
  flex-wrap: wrap;
}
.card-image {
	display: block;
	min-height: 15rem;
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; 
}

.card-image.is-loaded {
	filter: none; 
	transition: filter 1s;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: scale(1.2);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #ffffff;
	text-decoration: none;
  background-color: #cdffe8;
}

.card-description > h2 {
  color:#6aa389;
	margin: 0 0 0.5em;
  font-size: 1rem;
}

.card-description > p {
  color: #82c7a8;
  font-size: 0.8rem;
	margin: 0;
}
