
.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.box {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  margin: 10px;
}
.box div {
  border-radius: 5px;
}
.card-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-tag {
  width: 50px;
  max-width: 130px;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}
.tag-normal {
  width: 120px;
}

.java{
  background: #ee4f33;
}
.nodejs{
  background: #026e00;
}
.js{
  background: #f7df1e;
}
.android{
  background: #a7c93a;
}
.react{
  background: #61DBFB;
}
.mysql{
  background: #005e87;
}
.chakra{
  background: #4fd1c5;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-card {
   margin : 10px;
  height: 12em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border-radius:16px 16px 0px 0px;
  overflow:hidden;
}

.property-description {
  background-color: #fafafc;
  height: 6em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  text-align:center;
}
